*{
    padding: 0;
    margin: 0;
    
}
body{
    position: relative;
}
.levo {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    display: inline;
    background-color: lightblue;
}
.desno {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    display: inline;
    background-color: lightcyan;
}

p {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
}